name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: linux
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64
          
          - host: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64

          - host: macos
            os: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64
    
    name: Release for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'ReFirmLabs/binwalk'
          submodules: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.91.1
        with:
          targets: ${{ matrix.target }}

      - name: Build release
        run: cargo build --release --locked --verbose --target ${{ matrix.target }}

      - name: Upload files to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: target/release/
